@import "bootstrap/scss/functions";

@import "bootstrap/scss/variables";


$custom-colors: (
  "card": rgb(24 24 27)
);

// Merge the maps
$theme-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $grays, $theme-colors, $custom-colors);


@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";

$utilities: map-merge-multiple(
  $utilities,
  (
    "text": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $theme-colors
          ),
        ),
      ),
    ),
  )
);

.max-width-800 {
  max-width: 800px;
}